[Unit]
Description = Felucca Service

[Service]
User = jenkins
Type = forking
ExecStart = /tmp/Felucca/felucca.sh start
ExecStop = /tmp/Felucca/felucca.sh stop

[Install]
WantedBy=multi-user.target