[Unit]
Description = Felucca Service

[Service]
User = jenkins
Type = forking
ExecStart = /var/tmp/Felucca/felucca.sh start
ExecStop = /var/tmp/Felucca/felucca.sh stop

[Install]
WantedBy=multi-user.target