<div>
  <div>
    <dl class="row">
      <dt class="col-sm-3">Task ID</dt>
      <dd class="col-sm-9">{{taskID}}</dd>

      <dt class="col-sm-3">File Name</dt>
      <dd class="col-sm-9">{{filename}}</dd>

      <dt class="col-sm-3">File Type</dt>
      <dd class="col-sm-9">{{fileType}}</dd>

      <dt class="col-sm-3">Operation</dt>
      <dd class="col-sm-9">
        <button type="button" class="btn btn-primary" (click)="saveFile()">Download</button>
      </dd>

    </dl>
  </div>

  <div *ngIf="content">
    <span class="text">
      {{content}}
    </span>
  </div>
</div>