<div>
  <h2> Jobs </h2>
  <table class="table table-striped table-hover" summary="Job table">
    <thead>
      <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Job Name</th>
        <th scope="col">Comment</th>
        <th scope="col">Created Time</th>
        <th scope="col">Finished Time</th>
        <th scope="col">Number of Tasks</th>
        <th scope="col">Status</th>
      </tr>
  </thead>
    <tbody>
      <tr *ngFor="let job of jobs" routerLink="/job-info/{{job.jobID}}">
        <th scope="row">{{job.jobID}}</th>
        <td>{{job.jobName}}</td>
        <td>{{job.comment}}</td>
        <td>{{job.createdTime | date: 'medium'}}</td>
        <td *ngIf="job.status == status.Finished">{{job.finishedTime | date: 'medium'}}</td>
        <td *ngIf="job.status != status.Finished"></td>
        <td>{{job.taskNumber}}</td>
        <td>{{job.status}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
