<div>
  <h3> Jobs </h3>
  <table>
    <thead>
    <tr>
      <th>Job ID</th>
      <th>Comment</th>
      <th>Created Time</th>
      <th>Finished Time</th>
      <th>Number of Tasks</th>
      <th>Status</th>
    </tr>
  </thead>
    <tr *ngFor="let job of jobs" routerLink="/job-info/{{job.jobID}}">
      <td>{{job.jobID}}</td>
      <td>{{job.comment}}</td>
      <td>{{job.createdTime | date: 'medium'}}</td>
      <td *ngIf="job.status == status.Successful">{{job.finishedTime | date: 'medium'}}</td>
      <td *ngIf="job.status != status.Successful"></td>
      <td>{{job.taskNumber}}</td>
      <td>{{job.status}}</td>
    </tr>
  </table>
  
</div>
