<div>
  <div *ngIf="job">
    <h2> Job Details </h2>
    <dl class="row">
      <dt class="col-sm-3">Job Name</dt>
      <dd class="col-sm-9">{{job.jobName}}</dd>

      <dt class="col-sm-3">Job Comment</dt>
      <dd class="col-sm-9">{{job.comment}}</dd>

      <dt class="col-sm-3">Job Created Time</dt>
      <dd class="col-sm-9">{{job.createdTime | date: 'medium'}}</dd>
      <dt *ngIf="job.status == status.Successful" class="col-sm-3">Job Finish Time</dt>
      <dd *ngIf="job.status == status.Successful" class="col-sm-9">{{job.finishedTime | date: 'medium'}}</dd>
      <dt class="col-sm-3">Number of Tasks</dt>
      <dd class="col-sm-9">{{job.taskNumber}}</dd>

      <dt class="col-sm-3">Status</dt>
      <dd class="col-sm-9">{{job.status}}</dd>

      <dt class="col-sm-3">Operations</dt>
      <dd class="col-sm-9">
        <td>
              <button type="button" [disabled]="job.status === status.Successful" class="btn btn-primary" (click)="killJob()">Kill</button>
            </td>
      </dd>
    </dl>
  </div>
  <div *ngIf="tasks">
    <h3> Tasks </h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th style="width:30%;">Arguments</th>
            <th>Output</th>
            <th>Finish Time</th>
            <th>Status</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; index as i">
            <th>{{i + 1}}</th>
            <td>
              <dl class="row" style="margin: 0px 0px 0px 0px">
                  <ng-container *ngFor="let argument of task.arguments | keyvalue">
                    <dt class="col-sm-2" style="margin: 0px 0px 0px 0px">{{argument.key}}</dt>
                    <dd *ngIf="task.outputFilename.has(argument.value)" (click)="goToFile(task.taskID, 'output', argument.value);" class="col-sm-9 link" style="margin: 0px 0px 0px 0px" routerLinkActive="active-link"> {{argument.value}}</dd>
                    <dd *ngIf="task.outputFilename.has(argument.value) === false" class="col-sm-9" style="margin: 0px 0px 0px 0px"> {{argument.value}}</dd>
                </ng-container>
              </dl>
            </td>
            <td>
              <ul>
                <li (click)="goToOutput(task.taskID, 'stdout');" routerLinkActive="active-link" class="link">
                stdout</li>
                <li (click)="goToOutput(task.taskID, 'stderr');" routerLinkActive="active-link" class="link">
                stderr</li>
              </ul>
            </td>

            <td *ngIf="task.status === status.Successful">{{task.finishTime | date: 'medium'}}</td>
            <td *ngIf="task.status !== status.Successful"></td>

            <td>{{task.status}} </td>

            <td>
              <button type="button" [disabled]="task.status === status.Successful" class="btn btn-primary" (click)="killTask(task.taskID)">Kill</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
