<div>
  <div *ngIf="job">
    <h2> Job Details </h2>
    <dl class="row">
      <dt class="col-sm-3">Job Name</dt>
      <dd class="col-sm-9">{{job.jobName}}</dd>

      <dt class="col-sm-3">Job Comment</dt>
      <dd class="col-sm-9">{{job.comment}}</dd>

      <dt class="col-sm-3">Job Created Time</dt>
      <dd class="col-sm-9">{{job.createdTime | date: 'medium'}}</dd>
      <dt *ngIf="job.status == status.Successful" class="col-sm-3">Job Finish Time</dt>
      <dd *ngIf="job.status == status.Successful" class="col-sm-9">{{job.finishedTime | date: 'medium'}}</dd>
      <dt class="col-sm-3">Number of Tasks</dt>
      <dd class="col-sm-9">{{job.taskNumber}}</dd>
      <dt class="col-sm-3">Status</dt>
      <dd class="col-sm-9">{{job.status}}</dd>
    </dl>
  </div>
  <div *ngIf="tasks">
    <h3> Tasks </h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th style="width:30%;">Arguments</th>
            <th>Output Files</th>
            <th>Log Files</th>
            <th>Standard Output</th>
            <th>Standard Error</th>
            <th>Finish Time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; index as i">
            <th>{{i + 1}}</th>
            <td>
              <dl class="row" style="margin: 0px 0px 0px 0px">
                  <ng-container *ngFor="let argument of task.arguments | keyvalue">
                    <dt class="col-sm-2" style="margin: 0px 0px 0px 0px">{{argument.key}}</dt>
                    <dd class="col-sm-9" style="margin: 0px 0px 0px 0px"> {{argument.value}}</dd>
                </ng-container>
              </dl>
            </td>
            <td>
              <ul>
                <li *ngFor="let filename of task.outputFilename" (click)="goToFile(task.taskID, 'output', filename);" routerLinkActive="active-link" class="link">
                  {{filename}}
                </li>
              </ul>
            </td>

            <td>
              <ul>
                <li *ngFor="let filename of task.logFilename" (click)="goToFile(task.taskID, 'log', filename)" routerLinkActive="active-link" class="link">
                  {{filename}}
                </li>
              </ul>
            </td>

            <td class="text">{{task.stdout}}</td>

            <td class="text">{{task.stderr}}</td>

            <td *ngIf="task.status == status.Successful">{{task.finishTime | date: 'medium'}}</td>
            <td *ngIf="task.status != status.Successful"></td>

            <td>{{task.status}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
