<div>
  <div>
    <h2 class="bd-title" style="float:left"> Tool List </h2>
    <button class="btn btn-success btn-lg btn-sm" (click)="createSchema()" style="float:right;margin:24px;height:38px">Create</button>
    <select class="custom-select bg-success text-white" [(ngModel)]="chosenIndex" place-holder="123" style="float:right;width:200px;margin:24px">
      <option [value]="0">Start from scratch</option>
      <option *ngFor="let schema of schemas; index as i" [value]="i + 1" > {{schema.toolName}}</option>
    </select>
  </div>
  <table class="table table-striped"> 
    <thead>
      <th>Index</th>
      <th>Tool Name</th>
      <th>Operation</th>
    </thead>
    <tbody>
      <tr *ngFor="let schema of schemas; index as i">
        <td>
          <div>
            {{i + 1}}
          </div>
        </td>
        <td>
          <div>
            {{schema.toolName}}
          </div>
        </td>
        <td>
          <button class="btn btn-warning" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" (click)="editSchema(schema.toolID)" style="width:38px;height:38px">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
          <button type="btn btn-lg" class="btn btn-primary" (click)="downloadSchema(i)" style="width:38px;height:38px;padding:4px 8px;margin-left:15px">
            <svg class="bi bi-download" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
              <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
            </svg>
          </button>
          <button class="btn btn-danger btn-lg" type="button" (click)="deleteSchema(schema.toolID,schema.toolName)" style="width:38px;height:38px;padding:4px 8px;margin-left:15px">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
