<div>
  <h2> Job Submission </h2>
  <div>
    <label>Name:
      <input [(ngModel)] = "name" placeholder="Name"/>
    </label>
  </div>
  <div>
    <label>Comment:
      <input [(ngModel)] = "comment" placeholder="Comment"/>
    </label>
  </div>
  <div *ngIf='tasks.length > 0'>
    <h4>Tasks:</h4>
    <table>
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Tool Name</th>
          <th>Arguments</th>
          <th>Operations</th>
        <tr>
      </thead>

      <tr *ngFor='let task of tasks; index as i'>
        <td>{{i + 1}}</td>
        <td>{{task.toolName}}</td>
        <td>
          <ul>
            <li *ngFor="let argument of task.arguments | keyvalue">
              {{argument.key}} : {{argument.value}}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li>
              <button type="button" (click)="deleteTask(i)">delete</button>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div>
      <label>Choose a tool to add: </label>
      <div>
        <select [(ngModel)]="chosenTool" (change)="displayAddTaskPage()">
          <option *ngFor="let toolName of toolNames"> {{toolName}}</option>
        </select>
      </div>
      <app-submit-task *ngIf="isAdding" [toolName]="chosenTool" (submission)="submitTask($event)"></app-submit-task>
  </div>
  <div>
    <button type="button" (click)="submitJob()" >Submit</button>
  </div>
</div>
