<div>
  <h2 class="bd-title"> Job Submission </h2>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Job Name</span>
    </div>
    <input [(ngModel)] = "name" type="text" class="form-control" placeholder="job name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Comment</span>
    </div>
    <input [(ngModel)] = "comment" type="text" class="form-control" placeholder="Comment" aria-describedby="basic-addon1">
  </div>
  <div>
    <h4>Task List</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tool Name</th>
          <th>Input File Arguments</th>
          <th>Input Text Arguments</th>
          <th>Input Flag Arguments</th>
          <th>Output File Arguments</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody *ngIf='tasks.length > 0'>
        <tr *ngFor="let task of tasks; index as i">
          <td><div>{{i + 1}}</div></td>
          <td><div>{{task.toolName}}</div></td>
          <td>
            <div class="overflow-auto">
            <p *ngFor="let argument of task.inputFileArguments | keyvalue" style="margin: 0px 0px 0px 0px"><strong>{{argument.key}}</strong> {{argument.value}}</p>
            </div>
          </td>
          <td>
            <div class="overflow-auto">
            <p *ngFor="let argument of task.inputTextArguments | keyvalue" style="margin: 0px 0px 0px 0px"><strong>{{argument.key}}</strong> {{argument.value}}</p>

            </div>
          </td>
          <td>
            <div class="overflow-auto">
            <p *ngFor="let argument of task.inputFlagArguments | keyvalue" style="margin: 0px 0px 0px 0px"><strong>{{argument.value}}</strong> </p>

            </div>
          </td>
          <td>
            <div class="overflow-auto">
            <p *ngFor="let argument of task.outputFileArguments | keyvalue" style="margin: 0px 0px 0px 0px"><strong>{{argument.key}}</strong> {{argument.value}}</p>

            </div>
          </td>
          <td>
            <ul>
              <li>
                <button type="button" class="btn btn-primary" style="width:100px" (click)="deleteTask(i)">Delete</button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
      <div class="input-group mb-3" style="width:20%">
        <select class="custom-select bg-success text-white" [(ngModel)]="chosenIndex" (change)="displayAddTaskPage()" place-holder="123">
          <option [value]="0">Choose a new tool...</option>
          <option *ngFor="let schema of schemas; index as i" [value]="i + 1" > {{schema.toolName}}</option>
        </select>
      </div>

      <app-submit-task [schema]="chosenSchema" (submission)="submitTask($event)"></app-submit-task>
  </div>
  <div class="form-group"> 
    <button [disabled]="!isValidJob()" class="btn btn-success btn-lg float-right rounded-lg" type="submit" style="width:150px" (click)="submitJob()">Submit</button> 
  </div> 
  <div style="height:80px">
  </div>
</div>

