<div>
  <h2 class="bd-title"> Job Submission </h2>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Job Name</span>
    </div>
    <input [(ngModel)] = "name" type="text" class="form-control" placeholder="job name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Comment</span>
    </div>
    <input [(ngModel)] = "comment" type="text" class="form-control" placeholder="Comment" aria-describedby="basic-addon1">
  </div>
  <div>
    <h4>Task List</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Tool Name</th>
          <th>Arguments</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody *ngIf='tasks.length > 0'>
        <tr *ngFor='let task of tasks; index as i'>
          <td>{{i + 1}}</td>
          <td>{{task.toolName}}</td>
          <td>
            <dl class="row" style="margin: 0px 0px 0px 0px">
                <ng-container *ngFor="let argument of task.arguments | keyvalue">
                  <dt class="col-sm-3" style="margin: 0px 0px 0px 0px">{{argument.key}}</dt>
                  <dd class="col-sm-9" style="margin: 0px 0px 0px 0px"> {{argument.value}}</dd>
              </ng-container>
            </dl>
          </td>
          <td>
            <ul>
              <li>
                <button type="button" class="btn btn-primary" style="width:100px" (click)="deleteTask(i)">Delete</button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01" style="background-color:#28a745;color:#ffffff">Add Task</label>
        </div>
        <select class="custom-select" [(ngModel)]="chosenTool" (change)="displayAddTaskPage()" place-holder="123">
          <option *ngFor="let toolName of toolNames"> {{toolName}}</option>
        </select>
      </div>

      <app-submit-task *ngIf="isAdding" [toolName]="chosenTool" (submission)="submitTask($event)"></app-submit-task>
  </div>
   <div>
     <button type="button" [disabled]="!isValidJob()" class="btn btn-primary" style="width:100px" (click)="submitJob()">Submit</button>
   </div>
</div>
